Archive
build_logfile/
build_source/
build_tmp/
build_host/
build_sysroot/
build_release/
build_oscam/
build_tools/
develop/
cross/
custom/*-local*
make/develop/
release_image/
own_build/
Patches/oscam.config
.deps/
.ccache-*
config*
config.local
Makefile.local
build-tango.sh
*~
