tools/
build_logfile/
build_source/
build_tmp/
/build_source/
cross/
custom/*-local*
driver/
flash/
make/develop/
release_image/
own_build/
Patches/patch-neutrino/
Patches/oscam.config
root/boot/*
tufsbox/
.deps/
config*
config.local
Makefile.local
build-tango.sh
*~
